/* Variables: see https://www.aboutmonica.com/blog/give-your-css-superpowers-with-css-variables */

:root {
    --width-full: 60rem;
    --width-almost-full: 59rem;
    --no-color: #ffffff;
    --highlight-color: #a0a0a0;
    --background-color: #fafafa;
    --font-size-large: 14pt;
    --font-size-main: 12pt;
    --font-size-small: 11pt;
    --font-text: "Helvetica Neue", Helvetica;
    --font-code: Monaco,Courier New;
    --language-js: #e8f0f0;
    --language-python: #e8f0f0;
    --language-shell: #f0e8f0;
    --language-txt: #f0f0e8;
    --padding-small: 1em;
    --subpage-size: 80%;
}

/* General */

body {
    width: var(--width-full);
    font-size: var(--font-size-main);
    font-family: var(--font-text);
    padding-left: var(--padding-small);
    padding-bottom: 0px;
    margin-bottom: 0px;
    line-height: 1.2;
    background-color: var(--no-color);
}

div.latex-only {
    display: none;
}

/* Navigation header */

nav {
    width: var(--width-almost-full);
    background-color: var(--background-color);
    height: 4ex;
}

span.navtitle {
    padding-left: 5px;
    padding-right: 5px;
}

img.site-logo {
    width: 1.5rem;
    padding-top: 0.25rem;
}

/* Dropdown menu */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    padding: 8px;
    z-index: 1;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

.disabled {
    color: var(--highlight-color);
    font-style: italic;
}

/* Column layouts */

div.row:after {
    content: "";
    display: table;
    clear: both;
}

div.left2 {
    float: left;
    width: 50%;
    text-align: left;
}

div.right2 {
    float: right;
    width: 50%;
    text-align: right;
}

div.left3 {
    float: left;
    width: 30%;
    text-align: left;
}

div.middle3 {
    float: left;
    width: 40%;
    text-align: center;
}

div.right3 {
    float: left;
    width: 30%;
    text-align: right;
}

/* Author bios */

table.bio tr {
    background-color: var(--no-color);
}

img.bio {
    width: 100px;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* Main content */

main {
    padding-right: var(--padding-small);
}

/* Asides */

blockquote {
    background-color: var(--background-color);
    margin-left: var(--padding-small);
}

blockquote > p:first-child {
    text-align: center;
    font-style: italic;
}

/* Footer */

footer {
    padding-top: 1ex;
    margin-bottom: 0px;
    height: 5ex;
    width: var(--width-almost-full);
    font-size: var(--font-size-small);
    background-color: var(--background-color);
}

img.footer {
    vertical-align: middle;
    height: 4ex;
}

/* Definition lists */

dl {
    padding-left: var(--padding-small);
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 2em;
    margin-bottom: 1ex;
}

dd:last-of-type {
    margin-bottom: 0ex;
}

dd p {
    display: inline;
    margin: 0;
    padding: 0;
}

/* Content */

h1 {
    text-align: center;
    margin-bottom: 0;
}

h3.exercise {
    font-style: italic;
}

p.lede {
    font-style: italic;
    font-size: var(--font-size-large);
    text-align: center;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--background-color);
}

ol, ul {
    padding-left: 1.2em;
}

ul {
    list-style-type: disc;
}

li p {
    text-indent: 0rem;
}

/* Figures */

figure {
    text-align:center;
}

/* Tables */

th {
    text-align: left;
    vertical-align: top;
}

td {
    vertical-align: top;
    padding: 0.5em;
}

tr:nth-child(odd) {
    background-color: var(--background-color);
}

/* Code */

code {
    font-family: var(--font-code);
    font-size: var(--font-size-small);
}

pre {
    padding-left: 0.5em;
    overflow-x: auto;
    border: 1px solid var(--background-color);
}

.language-js {
    background-color: var(--language-js);
}

.language-python {
    background-color: var(--language-python);
}

.language-sh {
    background-color: var(--language-shell);
}

.language-html {
    background-color: var(--language-txt);
    font-style: italic;
}

.language-txt {
    background-color: var(--language-txt);
    font-style: italic;
}

/* HTML sub-pages */

div.subpage {
    font-size: var(--subpage-size);
    width: var(--subpage-size);
    background-color: var(--language-txt);
    padding-left: 1em;
    padding-right: 1em;
    border: 2px solid var(--highlight-color);
}
