*.aux
*.bbl
*.bcf
*.blg
*.idx
*.ilg
*.ind
*.log
*.out
*.pyg
*.toc
*/figures/*.pdf
*~
.DS_Store
.jekyll-cache
.jekyll-metadata
__pycache__
_minted-book
_site
book.pdf
book.run.xml
book.tex
node_modules
package-lock.json
release.tar.gz
