*~
.DS_Store
Gemfile.lock
__pycache__
_site
all.html
all.md
book.pdf
docs/*.aux
docs/*.bbl
docs/*.bcf
docs/*.blg
docs/*.idx
docs/*.ilg
docs/*.ind
docs/*.log
docs/*.out
docs/*.run.xml
docs/*.tex
docs/*.toc
docs/bibliography.bib
node_modules
