@page {
    size: 170mm 240mm;
    marks: crop;
    bleed: 6mm;
    margin-left: 28mm;
    margin-right: 28mm;
    margin-top: 18mm;
    margin-bottom: 18mm;
    @bottom-center {
        content: counter(page);
        font-size: 0.75rem;
        text-align: center;
    }
}


/* @page: blank {
    @top-left {
        content: none;
    }
    @top-right {
        content: none;
    }
    @bottom-left-corner {
        content: none;
    }
    @bottom-right-corner {
        content: none;
    }
} */

.new-chapter {
    break-before: right;
}


/* COVER ----------------------------------------- */

@page: cover {
    @bottom-center {
        content: none;
    }
}

.cover {
    page: cover;
    break-after: always;
}


/* TOC ----------------------------------------- */

@page: blank {
    /* size: 170mm 240mm;
    marks: crop;
    bleed: 6mm;
    margin-left: 25mm;
    margin-right: 25mm;
    margin-top: 20mm;
    margin-bottom: 40mm; */
    @bottom-center {
        content: none;
    }
}

.tocElement {
    page: blank;
    break-before: right;
}


/* TITRE COURANT ----------------------------------------- */


/* h1:not(.booktitle) {
    string-set: title content(text);
} */


/* @top-center {
    content: string(title);
    font-size: 12px;
} */


/* @page: chapter {
    size: 170mm 240mm;
    marks: crop;
    bleed: 6mm;
    margin-left: 25mm;
    margin-right: 25mm;
    margin-top: 20mm;
    margin-bottom: 40mm;
} */