@media print {
    #list-toc-generated {
        list-style: none;
        break-after: page;
        margin-top: 0;
        counter-reset: counterTocLevel1;
    }
    /* #title-element-1 {
        margin-bottom: 2rem;
    } */
    #list-toc-generated .toc-element a::after {
        content: " p. " target-counter(attr(href), page);
    }
    #list-toc-generated .toc-element-level-1 {
        margin-top: 0.7rem;
        font-size: 0.67rem;
        margin-bottom: 0;
        font-weight: 700;
        font-style: normal;
        list-style-type: none;
    }
    #list-toc-generated .toc-element-level-1:nth-child(2) {
        margin-top: 0;
        display: none;
    }
    #list-toc-generated .toc-element-level-2 {
        margin-left: 1.5rem;
        font-size: 0.57rem;
        line-height: 0.85rem;
        font-weight: 400;
        font-style: normal;
        list-style-type: none;
    }
    #list-toc-generated .toc-element-level-1 {
        counter-increment: counterTocLevel1;
        counter-reset: counterTocLevel2;
        margin-left: 0;
    }
    /* #list-toc-generated .toc-element-level-2 {
        counter-increment: counterTocLevel2;
    } */
    #list-toc-generated .toc-element::after {
        float: left;
        width: 0;
        padding-left: 0.5rem;
        letter-spacing: 0.2rem;
    }
    #list-toc-generated .toc-element {
        display: flex;
    }
    #list-toc-generated .toc-element a::after {
        position: absolute;
        right: 0;
        padding-left: 0.5rem;
    }
    #list-toc-generated .toc-element a {
        right: 0;
    }
    #list-toc-generated li:first-child {
        margin: 0;
        display: none;
    }
    #title-element-1 {
        margin: 0;
    }
}