
/* TAKEAWAY ---------------------------------------------------- */

aside.takeaway{
    font-weight: normal;
    align-self: flex-end;
}

aside.takeaway ul{
    margin: 0;
    list-style: disc;
    padding: var(--baseline) 2em;
    padding-bottom: 0px;
    padding-inline-start: 2em;
    border-radius: 0% 3px 3px 3px;
    border: 1px solid var(--color-cover-main);
    background-color: var(--color-paper);
}

aside.takeaway ul li p{
    text-indent: 0%;
    text-align: left;
}

aside.takeaway ul li:last-child{
    margin-bottom: 0px;
}

aside.takeaway h4{
    padding: 0 2em;
    /* background-color: var(--color-main); */
    /* color: var(--color-paper); */
    text-decoration: none;
    font-variant: all-small-caps;
    display: inline;
    border-radius: 3px 3px 0% 0%;
    border: none;
    border-bottom: 2px solid var(--color-cover-main); 
    background-color: var(--color-cover-main);
    color: var(--color-paper);
}
