.note-callout  {
    text-decoration: none;
    font-family: var(--font-body);
    vertical-align: 5px;
    line-height: calc( var(--font-lineHeight) - 10px);
    margin-left: 0.5ch;
    margin-right: 0.5ch;
    font-size: var(--font-size-notes);
    font-weight: bold;
    color: var(--color-primary);

    sup {
    font-style: normal;
    font-size: 0.75em;
    margin-left: 0.2ch;
    margin-right: 0.3ch;
    position: relative;
    vertical-align: baseline;
    /* top: -3px; */
    font-weight: normal;
    line-height: 0;
 
  }}