:root {
    --font-size: 15px;
    --font-size-ct: 28px;
    /* --font-size-h1: 22px; */
    /* --font-size-h2: 19px; */
    --baseline: 22px;
    /* --color-body: black; */
    --color-paper: white;
    /* --color-cover-main: #1e3661; */
    --color-grey: #E6E6E6;
    hyphens: auto;
    orphans: 3;
    quotes: "«" "»";
}

:root {
    /* color for the interface */
    --color-background: rgba(0, 0, 0, 0.2);
    /* --color-marginBox: red; */
    --color-pageBox: darkgray;
    --color-paper: white;
    --color-ruler: brown;
    --link-background: var(--color-paper);
    /* color used for the baseline */
    --color-baseline: cyan;
    /* fonts for the book */
    --font-body: "Jost";
    --font-body-small-caps: "Jost";
    --font-sans: "Jost";
    --font-heading: "Jost";
    /* --font-special: "Jost"; */
    /* typographic related variables */
    /* --font-size: 15px;
    --font-size-part: 28px; */
    /* --font-size-h1: 22px; */
    /* --font-size-h2: 19px; */
    /* --font-size-h3: calc(var(--font-size) * 1.2);
    --font-size-h4: calc(var(--font-size) * 1);
    --font-size-notes: 11px;
    --font-lineHeight: 22px;
    --font-lineHeight-notes: 16px;
    --font-lineHeight-part: calc(var(--font-lineHeight) * 3); */
    /* --font-lineHeight-h1: calc(var(--font-lineHeight) * 2); */
    /* --font-lineHeight-h2: calc(var(--font-lineHeight) * 1); */
    /* --font-lineHeight-h3: calc(var(--font-lineHeight) * 1);
    --font-lineHeight-h4: calc(var(--font-lineHeight) * 1); */
    --text-indent: 4ch;
    /* --color-body: #1e3661;
    --color-primary: #0059ff;
    /* --color-bkg: #E6E6E6;
    --color-grey: #E6E6E6; */
    /* --accessibility: black;
    --back: var(--color-primary);
    --blue: black;
    --color-secondary: black; */
    /* Page margins  */
    --page-height: 24cm;
    --page-width: 17cm;
    --m-top: 17mm;
    --m-bottom: 25mm;
    --m-inside: 17mm;
    --m-outside: 23mm;
}