{%- if is_lesson -%}
{%- assign slug = page.permalink | replace: '/', '' -%}
{%- assign crossref = '../solutions/#' | append: slug | relative_url -%}
<h2 id="exercises"><a href="{{crossref}}" data-latex-text="Exercises">Exercises</a></h2>
{% if include.items %}
{% for item in include.items %}
<h3>{{item.title | markdownify | replace: '<p>', '' | replace: '</p>', '' | strip}}</h3>
{%- assign problem_file = item.slug | append: '-problem.md' -%}
{%- capture problem_markdown -%}{% include_relative {{problem_file}} %}{%- endcapture %}
{{ problem_markdown | markdownify }}
{% endfor %}
{% else %}
<p>No exercises yet.</p>
{% endif %}
{% endif %}
