{%- comment -%}
Insert a figure.
The image 'alt' attribute should describe the figure, not simply repeat the caption.
{%- endcomment -%}
{%- assign figure_slug = page.permalink | remove: '/' -%}
{%- assign figure_id = figure_slug | prepend: 'f:' | append: ':' | append: include.key -%}
{%- assign figure_entry = site.data.figures | where: "key", figure_id | first -%}
{%- if include.suffix -%}
{%- assign figure_suffix = include.suffix -%}
{%- else -%}
{%- assign figure_suffix = 'svg' -%}
{%- endif -%}
{%- assign figure_path = page.dir | append: 'figures/' | append: include.key | append: '.' | append: figure_suffix | relative_url -%}
<figure id="{{figure_id}}">
  <img src="{{figure_path}}" title="{{include.explain}}" {% if include.credit %}credit="{{include.credit}}"{% endif %} {% if include.width %}width="{{include.width}}"{% endif %} />
  <figcaption>Figure {{figure_entry.number}}: {{include.caption}}</figcaption>
</figure>
