{%- comment -%}
Page footer.
Unfortunately, we have to loop over the lessons to find previous and next links.
{%- endcomment -%}
{%- assign this_index = nil -%}
{%- for lesson in site.data.lessons -%}
{%- if lesson.link == page.permalink -%}{%- assign this_index = forloop.index0 -%}{%- break -%}{%- endif -%}
{%- endfor -%}
{%- if this_index != nil -%}
{%- assign last_lesson = site.data.lessons | size | minus: 1 -%}
{%- endif -%}
<footer>
  <div class="row">
    <div class="left3">
      {%- if this_index == nil or this_index == 0 -%}
        &nbsp;
      {%- else -%}
        {%- assign prev_index = this_index | minus: 1 -%}
        {%- assign prev = site.data.lessons[prev_index] -%}
        <a href="..{{prev.link}}"><em>◁ {{prev.name}}</em></a>
      {%- endif -%}
    </div>
    <div class="middle3">
      <a href="{{ '/license/' | relative_url }}"><img class="footer" src="{{ '/static/cc-by.svg' | relative_url }}" alt="License" /></a>
      <a href="{{ site.repo }}"><img class="footer" src="{{ '/static/github.svg' | relative_url }}" alt="Repository" /></a>
      © {{ site.year }} <a href="{{ '/authors/' | relative_url }}">The Authors</a>
    </div>
    <div class="right3">
      {%- if this_index == nil or this_index == last_lesson -%}
        &nbsp;
      {%- else -%}
        {%- assign next_index = this_index | plus: 1 -%}
        {%- assign next = site.data.lessons[next_index] -%}
        <a href="..{{next.link}}"><em>{{next.name}} ▷</em></a>
      {%- endif -%}
    </div>
  </div>
</footer>
