{%- comment -%}
HTML head of all pages.
Depends on settings in 'settings.html.'
{%- endcomment -%}
<title>{{the_title}}</title>
<link href="{{ '/static/trac.css' | relative_url }}" rel="stylesheet" type="text/css">
<link href="{{ '/static/site.css' | relative_url }}" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | absolute_url }}">
{% include mathjax.html %}
{% for author in site.data.authors %}
<meta name="author" content="{{author.name}}">
{% endfor %}
