<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro:400,700" type="text/css">
  <script src="https://kit.fontawesome.com/fbb4c3a0bc.js" crossorigin="anonymous"></script>
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: { equationNumbers: { autoNumber: "AMS" } }
  })
  </script>
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <title>{% if page.root == '.' %}{{ site.title }}{% else %}{{ site.title }} &middot; {{ page.title }}{% endif %}</title>
  <link href="{{ '/static/local.css' | relative_url }}" rel="stylesheet" type="text/css">
  <script src="{{ '/static/local.js' | relative_url }}"></script>
  {% include numbering.html %}
  <script>window.onload = () => fixPage()</script>
</head>
