{%- comment -%}
  Create the navigation bar.
{%- endcomment -%}
{%- for entry in site.chapters -%}{%- if entry.appendix -%}{%- assign divider = forloop.index -%}{%- break -%}{%- endif -%}{%- endfor -%}
{%- assign chapters = site.chapters | slice: 0, divider -%}
{%- assign start = divider | plus: 1 -%}
{%- assign end = site.chapters | size -%}
{%- assign appendices = site.chapters | slice: start, end -%}
<nav class="nav-main">
  <ul>
    <li><a href="{{ '/' | relative_url }}"><em>{{ site.title }}</em></a></li>
    <li>{% include navlist.html title="Chapters" items=chapters %}</li>
    <li>{% include navlist.html title="Appendices" items=appendices %}</li>
  </ul>
</nav>
