{%- comment -%}
  Create the navigation bar.
{%- endcomment -%}
{%- for entry in site.chapters -%}{%- if entry.appendix -%}{%- assign divider = forloop.index -%}{%- break -%}{%- endif -%}{%- endfor -%}
{%- assign last_chapter = divider | minus: 1 -%}
{%- assign chapters = site.chapters | slice: 0, last_chapter -%}
{%- assign first_appendix = divider | plus: 1 -%}
{%- assign end = site.chapters | size -%}
{%- assign appendices = site.chapters | slice: divider, end -%}
<nav class="nav-main">
  <ul>
    <li><a href="{{ '/' | relative_url }}" aria-label="Home"><em>{{ site.title }}</em></a></li>
    <li>{% include navlist.html title="Chapters" items=chapters %}</li>
    <li>{% include navlist.html title="Appendices" items=appendices %}</li>
  </ul>
</nav>
