{%- comment -%}
Navigation bar at the top of pages.
{%- endcomment -%}
<nav>
  <div class="row">
    <div class="left2">
      <a href="{{ 'http://third-bit.com' | relative_url }}">
        <img src="{{'/static/logo.svg' | relative_url}}" alt="site logo" style="width: 1.5rem; padding-top: 0.25rem;"/>
      </a>
      {% unless page.permalink == '/' %}
      <a href="{{ '/' | relative_url }}">
        <em>{{ site.title }}</em>
      </a>
      {% endunless %}
    </div>
    <div class="right2">
      {% include toc.html html=include.html %}
      {% include navlist.html title="Lessons" collection=site.data.lessons %}
      {% assign others = site.data.standards %}
      {% if site.data.extras %}{% assign others = others | concat: site.data.extras %}{% endif %}
      {% include navlist.html title="Extras" collection=others %}
    </div>
  </div>
</nav>
