<script>
  const ENTRIES = {
    {%- for entry in site.data.numbering.entries -%}
    "{{ entry.slug }}": { title: "{{ entry.title }}", label: "{{ entry.kind }} {{ entry.label }}" }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  }
  const FIGURES = {
    {%- for figure in site.data.numbering.figures -%}
    "{{ figure[0] }}": "{{ figure[1] }}"{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  }
  const TABLES = {
    {%- for table in site.data.numbering.tables -%}
    "{{ table[0] }}": "{{ table[1] }}"{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  }
</script>
