{%- comment -%}
Sets 'the_title' and 'the_lede' for use in everything else.
{%- endcomment -%}
{%- if page.permalink == "/" -%}
  {%- assign is_lesson = false -%}
  {%- assign the_title = site.title -%}
  {%- assign the_lede = site.subtitle -%}
{%- else -%}
  {%- assign is_lesson = true -%}
  {%- assign thispage = site.data.lessons | where: "link", page.dir | first -%}
  {%- unless thispage -%}
    {%- assign is_lesson = false -%}
    {%- assign thispage = site.data.standards | where: "link", page.dir | first -%}
  {%- endunless -%}
  {%- unless thispage -%}
    {%- assign is_lesson = false -%}
    {%- assign thispage = site.data.extras | where: "link", page.dir | first -%}
  {%- endunless -%}
  {%- assign the_title = thispage.name -%}
  {%- assign the_lede = thispage.lede -%}
  {%- if is_lesson -%}
    {%- assign the_keypoints = thispage.keypoints %}
    {%- assign the_exercises = thispage.exercises %}
  {%- endif -%}
{%- endif -%}
