{%- assign top = site.data.thanks.size | plus: 2 | modulo: 3 | times: 3 | minus: 1 -%}
<table>
<tbody>
  {%- for person in site.data.thanks -%}
  {%- if forloop.first -%}<tr>{%- endif -%}
  {%- assign valid = forloop.index < top -%}
  <td>{%- if valid -%}{%- if person.url -%}<a href="{{ person.url }}" aria-label="{{ person.name }} personal site">{%- endif -%}{{ person.name }}{%- if person.url -%}</a>{%- endif -%}{%- endif -%}</td>
  {%- assign wrap = forloop.index | modulo: 3 -%}
  {%- if wrap == 0 -%}</tr><tr>{%- endif -%}
  {%- if forloop.last -%}</tr>{%- endif -%}
  {%- endfor -%}
</tbody>
</table>
