# General.
title: "{title}"
subtitle: "{subtitle}"
author: "{author}"
year: "{year}"
version: "{version}"
email: "{email}"
domain: "{domain}"
repo: "{repo}"

# Jekyll settings.
repository: <USERNAME>/<PROJECT>
defaults:
- scope:
    path: ""
  values:
    layout: "page"
kramdown:
  toc_levels: "2"
exclude:
- "Makefile"
- "Nemilov.cls"
- "README.md"
- "bin"
- "etc"
{excludes}
