\documentclass{{book}}

\input{{etc/settings}}

\begin{{document}}

\title{{{title}}}
\subtitle{{{subtitle}}}
\author{{{author}}}
\date{{{date}}}

\hypersetup{{pageanchor=false}}
\pagestyle{{empty}}
\maketitle

\frontmatter
\tableofcontents

\hypersetup{{pageanchor=true}}
\pagestyle{{headings}}
\mainmatter
{intro}
{lessons}

\cleardoublepage
\bibliographystyle{{alpha}}
\bibliography{{references}}

\appendix
{standards}
{extras}

\printindex

\end{{document}}
