- path: filename.csv
  format: CSV
  who: "Name <email>"
  what: "What's in the file"
  where: "Source"
  when: YYYY-MM-DD
  how: "How was file generated"
  fields:
  - name: Column
    type: datatype
    content: what is it
