
hr{
    height: 2px;
    background-color: var(--color-grey);
    border: none;
    margin: var(--font-lineHeight) 0;
}

.signature p{
    text-align: right;
    margin-bottom: 0px;
}

.section{
    display: grid;
    height: 100%;
}

.imprint p{
    text-indent: 0;
}

#toc ul, .authors{
    list-style: none;
}

.front{
    height: 66%;
}

.section.front h1::before{
    content: '/'!important;
}

.references p{
    text-indent: 0;
}

/* EPIGRAPH PROSE & POETRY    */

blockquote.sep, blockquote.sepo{
    border: none;
    text-align: right;
    font-style: italic;
    font-weight: bold;
}


.sep + .sep, .sepo + .sepo{
    margin-top: 0;
    padding-top: 0;
}


/* BLOCKQUOTES    */

blockquote.ex, blockquote.px{
    border: none;
    padding: var(--font-lineHeight);
    padding-bottom: 0;
    font-style: italic;
}

.ex + .ex, .px + .px{
    margin-top: 0;
    padding-top: 0;
}

.px{
    white-space: pre-wrap;
}


/* SOURCE NOTES    */

cite{
    font-size: var(--font-size-notes);
    font-style: italic;
    text-align: right;
    color: var(--color-body);
    display: block;
    padding-bottom: var(--font-lineHeight);
    margin-top: calc(var(--font-lineHeight) * -1);
}


/* CUSTOM "SPECIAL"    */

p.special{
    color: var(--color-primary);
}


/* INLINE CUSTOM "SPECIAL"    */

p .boxed{
    padding: 0.5mm 1mm;
    background-color: var(--color-bkg);
}

p .important{
    border-bottom: 2px solid var(--color-primary);
}


/* SUBTITLE    */

.cst{
    font-style: italic;
}


/* CODE BLOCK    */

pre{
    background-color: var(--color-bkg);
    border-left: 25mm solid var(--color-bkg);
    border-right: 25mm solid var(--color-bkg);
    margin-left:-25mm;
    margin-right: -25mm;
}
