/* ----- Style for print ----- */

@media print {
    /* ----- Global Styling ----- */
    * {
        margin: 0;
        padding: 0;
        font-family: 'CMU Sans';
        font-size: 0.98em;
        line-height: 1.15em;
        hyphens: auto;
    }
    h1 {
        font-size: 1.8em;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        margin-bottom: 2em;
        line-height: 1.5em;
        text-transform: uppercase;
    }
    h1+p {
        text-indent: 0;
    }
    h2 {
        margin-bottom: 0.3em;
        margin-top: 1em;
        font-weight: 700;
        font-style: italic;
        text-align: left;
        font-size: 1em;
    }
    h2+p {
        text-indent: 0;
    }
    h3 {
        font-weight: 700;
        font-style: normal;
        text-align: left;
        font-size: 0.9em;
        margin-top: 0.8em;
        margin-bottom: 0.5em;
        margin-left: 0.3em;
    }
    h3+p {
        text-indent: 0;
    }
    .exercise {
        font-size: 0.85em;
        margin-bottom: 0.5em;
        margin-top: 1.3em;
    }
    p {
        font-weight: 400;
        font-style: normal;
        word-break: keep-all;
        text-align: justify;
        margin: 0;
        text-indent: 1.2em;
    }
    ul {
        margin: 0;
    }
    li {
        word-break: keep-all;
        list-style-type: circle;
        margin-left: 20px;
        margin-bottom: 0em;
        margin-top: 0;
    }
    ol {
        margin-top: 0.7em;
    }
    ol li {
        word-break: keep-all;
        list-style-type: circle;
        margin-left: 20px;
        margin-bottom: 0.25em;
        margin-top: 0;
        font-weight: 500;
        font-style: italic;
    }
    li p {
        text-indent: 0;
    }
    em {
        font-weight: 400;
        font-style: italic;
    }
    pre {
        white-space: pre-wrap;
        font-family: 'CMU Mono';
        font-weight: 400;
        text-align: left;
        padding-top: .3em;
        padding-bottom: .3em;
        margin: 0.7em;
        margin-left: 0;
        margin-right: 0;
        border: 0;
        background-color: rgb(240, 240, 240);
    }
    code {
        font-family: 'CMU Mono';
        font-weight: 400;
    }
    a {
        text-decoration: none;
        color: black;
    }
    #ToC {
        margin-bottom: 1em;
        font-size: 1.5em;
        text-align: left;
    }
    caption {
        text-align: left;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 1em;
        margin-top: .5em;
    }
    dt {
        font-family: 'CMU Sans';
        font-weight: 700;
        font-style: normal;
    }
    blockquote {
        font-style: italic;
        border-left: solid 0.5em #e6e6e6;
        padding: 0.5em;
        padding-top: 0em;
        margin-top: 1.8em;
        margin-bottom: 1.8em;
    }
    blockquote p {
        font-weight: 500;
        text-indent: 0.5em;
        margin-top: 0.2em;
        margin-left: 0.3em;
    }
    .break-before {
        break-before: page;
        margin-top: 0;
    }
    .footnote {
        font-size: 0.7em;
        line-height: 9px;
        float: footnote;
        position: footnotes;
    }
    #systems-programming-ls {
        break-before: left;
        margin-top: 0;
    }
    #page-templates-flow {
        break-before: right;
        margin-top: 0;
    }
    #doc-generator-input {
        break-before: page;
        margin-top: 0;
    }
    /* define the position of the footnote on the page (only bottom is possible for now) */
    @page {
        @footnote {
            float: bottom;
            margin-top: 15px;
            height: 100px;
        }
    }
}