<%#
  Foot of every page.
  - site: Overall information about website.
  - page: Information about this page.
  - toRoot: path from this page to repository root (for building URLs).
%>
</main>
<footer>
<div class="row">
<div class="left3">
<%_ if (page.previous){ _%>
<a href="<%- `${toRoot}/${page.previous.slug}/`%>"><em>&laquo; <%- page.previous.title %></em></a>
<%_ } else { _%>
&nbsp;
<%_ } _%>
</div>
<div class="middle3">
<a href="<%- `${toRoot}/license/` %>"><img class="footer" src="<%- `${toRoot}/static/cc-by.svg` %>" alt="License" /></a>
<a href="<%- site.repo %>"><img class="footer" src="<%- `${toRoot}/static/github.svg` %>" alt="Repository" /></a>
© <%- site.copyrightYear %> <a href="<%- `${toRoot}/authors/` %>">The Authors</a>
</div>
<div class="right3">
<%_ if (page.next){ _%>
<a href="<%- `${toRoot}/${page.next.slug}/` %>"><em><%- page.next.title %> &raquo;</em></a>
<%_ } else { _%>
&nbsp;
<%_ } _%>
</div>
</div>
</footer>
</body>
</html>
