<%#
  Create pulldown menus in navigation bar.
  - site: overall configuration for site with {title, chapters, appendices}.
  - page: details about this page with {slug}.
  - toRoot: path from this page to repository root (for building URLs).
%>
<nav>
<div class="row">
<div class="left2">
<a href="http://third-bit.com"><img src="<%- `${toRoot}/../static/logo.svg` %>" alt="site logo" class="site-logo"/></a>
<%_ if (page.slug !== '/') { _%>
<a href="<%- `${toRoot}/` %>"><em><%- site.title %></em></a>
<%_ } _%>
</div>
<div class="right2">
<%- include('/inc/navlist.html', {title: "Sections", items: []}) %>
<%- include('/inc/navlist.html', {title: "Chapters", items: site.chapters}) %>
<%- include('/inc/navlist.html', {title: "Appendices", items: site.appendices}) %>
</div>
</div>
</nav>
