<%#
  Create a dropdown navigation list.
  - title: overall title displayed in nav bar.
  - items: navigation links with {slug, title}.
  - relativeRoot: path from this page to repository root (for building URLs).
%>
<div class="dropdown">
<span class="navtitle">▿ <%- title %></span>
<div class="dropdown-content" id="<%- title %>">
<%_ items.forEach(function(item, i){ _%>
<%_ if (i > 0) { %><br/><% } _%>
<a href="<%- `${relativeRoot}/${item.slug}/` %>"><span class="nowrap"><%- item.title %></span></a>
<%_ }) _%>
</div>
</div>
