<%#
  Foot of every page.
  - site: Overall information about website.
  - page: Information about this page.
  - toRoot: path from this page to site root.
  - toVolume: path fro mthis page to volume root.
%>
<% if (page.isChapter && page.exercises && (page.exercises.length > 0)) { %><%- include('/inc/problems.html') %><% } %>
</main>
<footer>
<div class="row">
<div class="left3">
<%_ if (page.previous){ _%>
<a href="<%- `${toVolume}/${page.previous.slug}/`%>"><em>&laquo; <%- page.previous.title %></em></a>
<%_ } else { _%>
&nbsp;
<%_ } _%>
</div>
<div class="middle3">
<a href="<%- `${toVolume}/license/` %>"><img class="footer" src="<%- `${toRoot}/static/cc-by.svg` %>" alt="License" /></a>
<a href="<%- site.repo %>"><img class="footer" src="<%- `${toRoot}/static/github.svg` %>" alt="Repository" /></a>
<a href="mailto:<%- site.email %>"><img class="footer" src="<%- `${toRoot}/static/email.svg` %>" alt="Email" /></a>
© <%- site.copyrightYear %> <a href="<%- `${toVolume}/authors/` %>">The Authors</a>
</div>
<div class="right3">
<%_ if (page.next){ _%>
<a href="<%- `${toVolume}/${page.next.slug}/` %>"><em><%- page.next.title %> &raquo;</em></a>
<%_ } else { _%>
&nbsp;
<%_ } _%>
</div>
</div>
</footer>
</body>
</html>
