<%#
  Head of every page.
  - site: Overall information about website.
  - page: Information about this page.
%>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title><%- page.title ? page.title : site.title %></title>
  <meta name="slug" content="<%- page.slug %>">
  <meta name="toRoot" content="<%- page.toRoot %>">
  <meta name="toVolume" content="<%- page.toVolume %>">
  <meta name="volume" content="<%- page.volume %>">
  <link rel="shortcut icon" type="image/x-icon" href="<%- `${page.toRoot}/favicon.ico` %>">
  <link href="<%- `${page.toRoot}/static/fonts.css` %>" rel="stylesheet" type="text/css">
  <link href="<%- `${page.toRoot}/static/site.css` %>" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" type="image/x-icon" href="<%- `${page.toRoot}/favicon.ico` %>">
  <link rel="alternate" type="application/atom+xml" title="<%- site.title %>" href="<%- `${site.url}/atom.xml` %>">
  <script><%- _numbering(numbering) %></script>
  <script src="<%- `${page.toRoot}/static/site.js` %>"></script>
  <script>window.onload = () => fixPage(true)</script>
</head>
<body id="_top">
<%- include('/inc/page-navbar.html') %>
  <main>
  <%- include('/inc/title.html') %>
  <% if (page.lede) { %><h2 class="lede"><%- page.lede %></h2><% } %>
  <% if (page.isChapter) { %><%- include('/inc/glossrefs.html') %><% } %>
