<%#
  Create pulldown menus in navigation bar.
  - site: overall configuration for site with {title, chapters, appendices}.
  - page: details about this page with {slug}.
  - toRoot: path from this page to site root.
%>
<nav>
<div class="row">
<div class="left2">
<a href="<%- `${toRoot}/` %>"><img src="<%- `${toRoot}/static/logo.svg` %>" alt="site logo" class="site-logo"/></a>
</div>
<div class="right2">
<span class="navtitle"><a href="<%- `${toRoot}/blog/` %>">Blog</a></span>
<%- include('/inc/navlist.html', {title: "Sections", items: []}) %>
<%- include('/inc/navlist.html', {title: "Chapters", items: site.chapters}) %>
<%- include('/inc/navlist.html', {title: "Appendices", items: site.appendices}) %>
</div>
</div>
</nav>
