<%#
  Foot of every post.
  - site: Overall information about website.
  - page: Information about this page.
  - toRoot: path from this page to root of this volume.
%>
</main>
<footer>
<div class="row">
<div class="left3"> &nbsp; </div>
<div class="middle3">
<a href="<%- `${toRoot}/vol1/license/` %>"><img class="footer" src="<%- `${toRoot}/static/cc-by.svg` %>" alt="License" /></a>
<a href="<%- site.repo %>"><img class="footer" src="<%- `${toRoot}/static/github.svg` %>" alt="Repository" /></a>
<a href="mailto:<%- site.email %>"><img class="footer" src="<%- `${toRoot}/static/email.svg` %>" alt="Email" /></a>
© <%- site.copyrightYear %> <a href="<%- `${toRoot}/vol1/authors/` %>">The Authors</a>
</div>
<div class="right3"> &nbsp; </div>
</div>
</footer>
</body>
</html>
