<% if (page.title) { %>
  <h1><%- page.title %></h1>
<% } else { %>
<div class="row">
  <div class="left2">
    <h1 class="maintitle">Software<br/>Tools in<br/>JavaScript</h1>
  </div>
  <div class="right2">
    <p class="maintitle">
      Good programming is not learned from generalities,
      but by seeing how significant programs can be made clean,
      easy to read,
      easy to maintain and modify,
      human-engineered,
      efficient,
      and reliable,
      by the application of common sense and good programming practices.
      Careful study and imitation of good programs leads to better writing.
    </p>
    <p>
      — Brian Kernighan and P.J. Plauger, <em>Software Tools in Pascal</em>
    </p>
  </div>
</div>
<% } %>
