/* COMPUTER MODERN */

@font-face {
    font-family: "CMU Mono";
    src: url("../../fonts/cmuntt.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CMU Mono";
    src: url("../../fonts/cmunti.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "CMU Mono";
    src: url("../../fonts/cmuntb.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CMU Mono";
    src: url("../../fonts/cmuntx.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "CMU Sans";
    src: url("../../fonts/cmunss.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CMU Sans";
    src: url("../../fonts/cmunsi.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "CMU Sans";
    src: url("../../fonts/cmunsx.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CMU Sans";
    src: url("../../fonts/cmunso.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}