/* TITRE COURANT ----------------------------------------- */

.running-left,
.running-right {
    display: none;
    string-set: title content(text);
}

@page chapitre {
    @bottom-center {
        content: string(title);
        font-size: 12px;
    }
}


/* HEADINGS ----------------------------------------- */


/* .sectiontitle{
    font-size: 28px;
    line-height: calc(var(--baseline) * 1.8);
    padding-bottom: calc(var(--baseline) * 1.2);
    text-align: center;
    align-self: center;
} */

.chapter-number {
    float: right;
    font-size: var(--font-size-ct);
    line-height: calc(var(--baseline) * 1.2);
    font-weight: bold;
}


/* h1{
    font-size: var(--font-size-ct);    
    line-height: calc(var(--baseline) * 1.5);
    padding-bottom: calc(var(--baseline) * 1.5);
} */


/* .chapter h1.ct{
    border-bottom: 2px solid var(--color-grey);
    padding-bottom: calc(var(--baseline) * 0.8);
    margin-bottom: calc(var(--baseline) * 1);
    padding-right: 4ch;
} */


/* Titres de paragraphe */


/* h2 {
    text-align: center;
    margin-bottom: var(--baseline);
} */