.cover {
    page: cover;
    display: grid;
    height: calc(240mm - var(--pagedjs-margin-bottom) - var(--pagedjs-margin-top));
    header {
        text-align: center;
        align-self: end;
        color: var(--color-paper);
        text-transform: uppercase;
    }
    .author,
    .cst {
        margin-top: var(--font-lineHeight);
        text-align: center;
        color: var(--color-bkg);
    }
}

@page cover {
    background-color: var(--color-paper);
    @bottom-right-corner {
        content: none;
    }
    @right-bottom {
        content: none;
    }
}