/* IMAGES ---------------------------------------------------- */

figure {
    border: none;
    /* break-inside: avoid; */
    /* break-before: avoid;
    width: 140mm;
    display: flex;
    flex-direction: column; */
    max-width: 100%;
    margin-top: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2em;
}

figure img {
    width: 100%;
    border: 0.2px solid black;
    /* border-bottom: none; */
    padding: 1em;
}

figcaption {
    position: relative;
    font-size: 0.8em;
    padding: 1mm;
    text-decoration: none;
    /* border: .5px solid black; */
    color: black;
    font-weight: 500;
    break-before: avoid;
}

figcaption code {
    font-family: 'CMU Mono';
    font-size: 0.8em;
    font-weight: 700;
}


/* .source {
    font-size: 12px;
} */

#module-loader-iife img,
#build-manager-template-method img,
#virtual-machine-unpacking img {
    width: 80%;
}

#package-manager-allowable img {
    width: 90%;
}

#package-manager-pruning img,
#layout-engine-coordinate-system img {
    width: 70%;
}

#virtual-machine-count-up img {
    width: 43%;
}

#virtual-machine-storage-allocation img {
    width: 75%;
}

#debugger-test-interact img {
    width: 85%;
}