.titlepage {
    page: titlepage;
    break-before: right;
    display: grid;
    height: calc(240mm - var(--pagedjs-margin-bottom) - var(--pagedjs-margin-top));
  
    header{
        text-align: center;
        align-self: end;
        color: var(--color-body);
        text-transform: uppercase;
    }
    .author, .cst{
        margin-top: var(--font-lineHeight);
        text-align: center;
        color: var(--color-body);
    }
    header:last-child{
        align-self: center;
    }
  }
  
  @page titlepage {
      background-color: var(--color-bkg);
      @bottom-right-corner{
          content: none;
      }
      @right-bottom{
          content: none;
      }
  }
  