:root {
    --color-blue-dark: #174952;
    --color-blue-light: #e0f3f6;
    --color-blue-strong: #0000ff;
    --color-bluegray-dark: #063037;
    --color-bluegray-light: #d8f5fa;
    --color-brown-dark: #925016;
    --color-brown-dark: #faede2;
    --color-gray-light: #e8e8e8;
    --color-gray-medium: #a0a0a0;
    --color-green-dark: #2d524d;
    --color-green-light: #e7f1f0;
    --color-ocher-dark: #9c673a;
    --color-ocher-light: #f7f0ea;
    --color-redbrown-dark: #72321d;
    --color-redbrown-dark: #f7e8e2;
    --color-yellow-light: #fbffe6;
    --color-yellow-dark: #364100;
    --color-white: #ffffff;
}

/* Wrap */
@media
 only screen and (max-width: 38em) {
  div.flex-row {
    flex-wrap: wrap;
  }
  div.flex-card {
    width: 96%;
  }
}

/* Create a row */
div.flex-row {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Create a column (not cards) */

div.flex-col {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 46%;
}

/* Add shadows to create the "card" effect */
div.flex-card {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 46%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
div.flex-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
div.flex-card-container {
    padding: 2px 16px;
}

/* Outline the box containing terms. */
div.terms {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 1rem;
}

div.terms p:last-of-type {
    margin-bottom: 0px;
}

/* Center text */
div.centered {
    text-align: center;
}
div.centered img {
    display: block;
    margin: auto;
}

/* Display callouts */
div.callout {
    background-color: #f9f9f9;
    padding: 0.5em;
}

div.callout h3 {
    margin-top: 0px;
}

div.callout p:last-of-type {
    margin-bottom: 0px;
}

/* Dropdown menu */
.dropdown {
    display: inline-block;
    position: relative;
    padding-right: 1em;
}

.dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    display: none;
    padding: 8px;
    position: absolute;
    text-align: left;
    z-index: 1;
    line-height: normal;
    font-size: 75%;
}

.nav-main li a.dropdown-item {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.nowrap {
    white-space: nowrap;
}

/* Center figures */
figure {
    text-align: center;
}

figure img {
    display: block;
    margin: auto;
}

/* Chapter ledes */
h2.lede {
    font-style: italic;
    color: #404040;
}

/* Pre-formatted code blocks */
pre {
    line-height: normal;
    padding-left: 0.5em;
}

/* Filename links in code blocks */

div.file-link {
    font-size: 75%;
    font-style: italic;
    padding-right: 0.5em;
    text-align: right;
}

/* Table captions go at the bottom */
table {
    caption-side: bottom;
}

/* Colorizing code */

.language-as {
    background-color: var(--color-blue-light);
    border-color: var(--color-blue-dark);
}

.language-html {
    background-color: var(--color-yellow-light);
    border-color: var(--color-yellow-dark);
    font-style: italic;
}

.language-js {
    background-color: var(--color-bluegray-light);
    border-color: var(--color-bluegray-dark);
}

.language-json {
    background-color: var(--color-yellow-light);
    border-color: var(--color-yellow-dark);
    font-style: var(--data-font-style);
}

.language-mx {
    background-color: var(--color-yellow-light);
    border-color: var(--color-yellow-dark);
    font-style: var(--data-font-style);
}

.language-py {
    background-color: var(--color-blue-light);
    border-color: var(--color-blue-dark);
}

.language-sh {
    background-color: var(--color-green-light);
    border-color: var(--color-green-dark);
}

.language-out {
    background-color: var(--color-yellow-light);
    border-color: var(--color-yellow-dark);
    font-style: var(--data-font-style);
}

.language-txt {
    background-color: var(--color-yellow-light);
    border-color: var(--color-yellow-dark);
    font-style: var(--data-font-style);
}

.language-yml {
    background-color: var(--color-yellow-light);
    border-color: var(--color-yellow-dark);
    font-style: var(--data-font-style);
}
