/* Variables: see https://www.aboutmonica.com/blog/give-your-css-superpowers-with-css-variables */

:root {
    --disabled: #a0a0a0;
    --background-color: #fafafa;
    --language-js: #f8ffff;
    --language-python: #f8ffff;
    --language-shell: #fff8ff;
    --language-text: #fffff8;
    --font-size-main: 12pt;
    --font-size-small: 11pt;
    --font-size-large: 14pt;
    --width-full: 60rem;
    --width-almost-full: 59rem;
    --font-text: "Helvetica Neue", Helvetica;
    --font-code: Monaco,Courier New;
}

/* General */

body {
    width: var(--width-full);
    font-size: var(--font-size-main);
    font-family: var(--font-text);
    padding-left: 1em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    line-height: 1.2;
}

/* Navigation header */

nav {
    width: var(--width-almost-full);
    background-color: var(--background-color);
    height: 4ex;
}

span.navtitle {
    padding-left: 5px;
    padding-right: 5px;
}

img.site-logo {
    width: 1.5rem;
    padding-top: 0.25rem;
}

/* Dropdown menu */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    padding: 8px;
    z-index: 1;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

.disabled {
    color: var(--disabled);
    font-style: italic;
}

/* Column layouts */

div.row:after {
    content: "";
    display: table;
    clear: both;
}

div.left2 {
    float: left;
    width: 50%;
    text-align: left;
}

div.right2 {
    float: right;
    width: 50%;
    text-align: right;
}

div.left3 {
    float: left;
    width: 30%;
    text-align: left;
}

div.middle3 {
    float: left;
    width: 40%;
    text-align: center;
}

div.right3 {
    float: left;
    width: 30%;
    text-align: right;
}

/* Main content */

main {
    padding-right: 1em;
}

p {
    text-indent: 1rem;
}

p.noindent {
    text-indent: 0rem;
}

blockquote {
    background-color: var(--background-color);
    margin-left: 1em;
}

/* Asides */

blockquote.aside p:first-child {
    text-indent: 0rem;
    font-style: italic;
    font-weight: bold;
}

blockquote.aside p:nth-child(2) {
    text-indent: 0rem;
}

/* Question and key point summaries */

div.summary {
    padding-left: 5px;
    background-color: var(--background-color);
}

div.summary ul {
    padding-bottom: 0.5ex;
}

/* Definitions */

dt {
    font-weight: bold;
}

/* Hidden code fragments */

div[display=none] {
    display: none;
}

/* Footer */

footer {
    padding-top: 1ex;
    margin-bottom: 0px;
    height: 5ex;
    width: var(--width-almost-full);
    font-size: var(--font-size-small);
    background-color: var(--background-color);
}

img.footer {
    vertical-align: middle;
    height: 4ex;
}

/* Author display */

div.author::after {
    content: "";
    clear: both;
    display: table;
}

div.author img {
    float: left;
    width: 6em;
    padding: 0.5em;
    border: 1px solid var(--background-color);
    margin-right: 1em;
    margin-bottom: 1em;
}

/* Definition lists */

dl {
    padding-left: 1em;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 2em;
    margin-bottom: 1ex;
}

dd:last-of-type {
    margin-bottom: 0ex;
}

dd p {
    display: inline;
    margin: 0;
    padding: 0;
}

/* Content */

h1 {
    text-align: center;
    margin-bottom: 0;
}

p.lede {
    font-style: italic;
    font-size: var(--font-size-large);
    text-align: center;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--background-color);
}

code {
    font-family: var(--font-code);
    font-size: var(--font-size-small);
}

ol, ul {
    padding-left: 1.2em;
}

ul {
    list-style-type: disc;
}

li p {
    text-indent: 0rem;
}

/* Figures */

figure {
    text-align:center;
}

/* Tables */

th {
    text-align: left;
    vertical-align: top;
}

td {
    vertical-align: top;
    padding: 0.5em;
}

tr:nth-child(odd) {
    background-color: var(--background-color);
}

/* Code */

pre {
    overflow-x: auto;
    border: 1px solid var(--background-color);
    overflow-y: scroll;
    max-height: 40ex;
    padding-left: 0.5em;
}

.language-js {
    background-color: var(--language-js);
}

.language-python {
    background-color: var(--language-python);
}

.language-sh {
    background-color: var(--language-shell);
}

.language-html {
    background-color: var(--language-text);
    font-style: italic;
}

.language-text {
    background-color: var(--language-text);
    font-style: italic;
}
