/* Variables: see https://www.aboutmonica.com/blog/give-your-css-superpowers-with-css-variables */

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans/OpenSans-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

:root {
    /* --font-text: "Lato"; */
    --font-text: "OpenSans";
    --font-code: "Roboto";
    --font-size-large: 16pt;
    --font-size-regular: 14pt;
    --font-size-small: 12pt;

    --border-width: 1px;
    --border-style: solid;
    --border-radius: 0.5em;

    --page-color: #ffffff;
    --page-background: #e8e8e8;
    --page-highlight: #a0a0a0;

    --callout-background: var(--page-background);
    --callout-border: var(--page-highlight);

    --fixme-background: #ffcccc;
    --fixme-border: #990000;

    --lang-1-background: #e6ffff;
    --lang-1-border: #ccffff;

    --lang-2-background: #fff0ff;
    --lang-2-border: #ffccff;

    --sh-background: #f2ffe6;
    --sh-border: #e6ffcc;

    --data-background: #fbffe6;
    --data-border: #f7ffcc;
    --data-font-style: italic;

    --padding-em: 1em;
    --padding-2em: 2em;
    --padding-half: 0.5em;
    --padding-px: 5px;

    --height-1: 1ex;
    --height-4: 4ex;
    --height-5: 5ex;

    --subpage-scale: 80%;
    --subpage-indent: 5%;

    --width-almost-full: 59rem;
    --width-full: 60rem;
}

/* General */

body {
    width: var(--width-full);
    font-size: var(--font-size-regular);
    font-family: var(--font-text);
    padding-left: var(--padding-em);
    padding-bottom: 0px;
    margin-bottom: 0px;
    line-height: 1.2;
    background-color: var(--page-color);
}

div.latex-only {
    display: none;
}

div.centered {
    text-align: center;
}

/* Navigation header */

nav {
    width: var(--width-almost-full);
    background-color: var(--page-background);
    height: var(--height-4);
    padding-left: var(--padding-px);
    padding-right: var(--padding-px);
    padding-top: var(--padding-px);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

span.navtitle {
    padding-left: var(--padding-px);
    padding-right: var(--padding-px);
}

img.site-logo {
    width: 1.5rem;
    padding-top: 0.25rem;
    vertical-align: middle;
}

/* Dropdown menu */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--page-background);
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    padding: 8px;
    z-index: 1;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

.disabled {
    color: var(--page-highlight);
    font-style: italic;
}

/* Column layouts */

div.row:after {
    content: "";
    display: table;
    clear: both;
}

div.left2 {
    float: left;
    width: 50%;
    text-align: left;
}

div.right2 {
    float: right;
    width: 50%;
    text-align: right;
}

div.left3 {
    float: left;
    width: 30%;
    text-align: left;
}

div.middle3 {
    float: left;
    width: 40%;
    text-align: center;
}

div.right3 {
    float: left;
    width: 30%;
    text-align: right;
}

/* Author bios */

table.bio tr {
    background-color: var(--page-color);
}

img.bio {
    width: 100px;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* Main content */

main {
    padding-right: var(--padding-px);
}

/* Asides */

div.callout {
    border-width: var(--border-width);
    border-style: var(--border-style);
    background-color: var(--callout-background);
    border-color: var(--callout-border);
    padding-left: var(--padding-half);
    padding-right: var(--padding-half);
    border-radius: var(--border-radius);
    margin-bottom: var(--padding-em);
}

div.callout > h3 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

div.hint {
    border-width: var(--border-width);
    border-style: var(--border-style);
    background-color: var(--callout-background);
    border-color: var(--callout-border);
    padding-left: var(--padding-half);
    padding-right: var(--padding-half);
    border-radius: var(--border-radius);
    margin-bottom: var(--padding-em);
}

div.fixme {
    border-width: var(--border-width);
    border-style: var(--border-style);
    background-color: var(--fixme-background);
    border-color: var(--fixme-border);
    padding-left: var(--padding-half);
    padding-right: var(--padding-half);
    border-radius: var(--border-radius);
    margin-bottom: var(--padding-em);
}

/* Footer */

footer {
    padding-top: var(--height-1);
    padding-left: var(--padding-px);
    padding-right: var(--padding-px);
    margin-bottom: var(--padding-px);
    height: var(--height-5);
    width: var(--width-almost-full);
    font-size: var(--font-size-small);
    background-color: var(--page-background);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

img.footer {
    vertical-align: middle;
    height: var(--height-4);
}

/* Definition lists */

dl {
    padding-left: var(--padding-em);
}

dt {
    font-weight: bold;
}

dd {
    margin-left: var(--padding-2em);
    margin-bottom: var(--height-1);
}

dd:last-of-type {
    margin-bottom: 0ex;
}

dd p {
    display: inline;
    margin: 0;
    padding: 0;
}

/* Content */

h1 {
    text-align: center;
    margin-bottom: 0;
}

h3.exercise {
    font-style: italic;
}

h2.lede {
    font-style: italic;
    font-size: var(--font-size-large);
    text-align: center;
    margin-top: 0;
    padding-top: var(--padding-px);
    padding-bottom: var(--padding-px);
    background-color: var(--page-background);
}

ol, ul {
    padding-left: 1.2em;
}

ul {
    list-style-type: disc;
}

li p {
    text-indent: 0rem;
}

/* Figures */

figure {
    text-align:center;
}

/* Tables */

th {
    text-align: left;
    vertical-align: top;
    padding: 0.5em;
    background-color: var(--page-background);
    border-bottom: 1px solid var(--page-highlight);
    padding-left: var(--padding-px);
    padding-right: var(--padding-px);
}

td {
    vertical-align: top;
    padding: 0.5em;
}

tr:nth-child(even) {
    background-color: var(--page-background);
}

/* Code */

code {
    font-family: var(--font-code);
    font-size: var(--font-size-small);
    background-color: var(--page-background);
}

pre {
    padding-left: var(--padding-half);
    padding-top: var(--padding-px);
    padding-bottom: var(--padding-px);
    overflow-x: auto;
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-radius: var(--border-radius);
}

.language-as {
    background-color: var(--lang-2-background);
    border-color: var(--lang-2-border);
}

.language-html {
    background-color: var(--data-background);
    border-color: var(--data-border);
    font-style: italic;
}

.language-js {
    background-color: var(--lang-1-background);
    border-color: var(--lang-1-border);
}

.language-json {
    background-color: var(--data-background);
    border-color: var(--data-border);
    font-style: var(--data-font-style);
}

.language-mx {
    background-color: var(--data-background);
    border-color: var(--data-border);
    font-style: var(--data-font-style);
}

.language-py {
    background-color: var(--lang-2-background);
    border-color: var(--lang-2-border);
}

.language-sh {
    background-color: var(--sh-background);
    border-color: var(--sh-border);
}

.language-out {
    background-color: var(--data-background);
    border-color: var(--data-border);
    font-style: var(--data-font-style);
}

.language-txt {
    background-color: var(--data-background);
    border-color: var(--data-border);
    font-style: var(--data-font-style);
}

.language-yml {
    background-color: var(--data-background);
    border-color: var(--data-border);
    font-style: var(--data-font-style);
}

div.file-link {
    padding-right: var(--padding-half);
    text-align: right;
    font-style: italic;
    font-size: var(--font-size-small);
}

/* HTML sub-pages */

div.subpage {
    margin-left: var(--subpage-indent);
    font-size: var(--subpage-scale);
    width: var(--subpage-scale);
    background-color: var(--data-background);
    padding-left: var(--padding-em);
    padding-right: var(--padding-em);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--page-highlight);
    margin-bottom: var(--padding-px);
}
