</main>
<footer>
<div class="row">
<div class="left3">
<%_ if (page.previous){ _%>
<a href="<%- `${relativeRoot}/${page.previous.slug}/`%>"><em>&laquo; <%- page.previous.title %></em></a>
<%_ } else { _%>
&nbsp;
<%_ } _%>
</div>
<div class="middle3">
<a href="<%- relativeRoot + '/license/' %>"><img class="footer" src="<%- relativeRoot + '/static/cc-by.svg' %>" alt="License" /></a>
<a href="<%- site.repo %>"><img class="footer" src="<%- relativeRoot + '/static/github.svg' %>" alt="Repository" /></a>
© <%- site.copyrightYear %> <a href="<%- relativeRoot + '/authors/' %>">The Authors</a>
</div>
<div class="right3">
<%_ if (page.next){ _%>
<a href="<%- `${relativeRoot}/${page.next.slug}/` %>"><em><%- page.next.title %> &raquo;</em></a>
<%_ } else { _%>
&nbsp;
<%_ } _%>
</div>
</div>
</footer>
</body>
</html>
