@media screen {

  .pagedjs_pages {
      flex-direction: column;
      width: 100%;
  }

  .pagedjs_first_page {
      margin-left: 0;
  }

  .pagedjs_page {
      margin: 0 auto;
      margin-top: 10mm;
  }

}